*{
    margin: 0px;
}

#navbar{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

#Profile{
    width: 100%;
    height: 300px;
    background-color: aqua;
}

#Skills{
    width: 100%;
    height: 300px;
    background-color: beige;
}

#Contact{
    width: 100%;
    height: 300px;
    background-color: red;
}

#Socail media link{
    width: 100%;
    height: 300px;
    background-color: gray;
}